@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

@font-face {
  font-family: "scoreFont";
  src: url("./assets/Soccer\ Scoreboard.otf");
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/thomas-serer-r-xKieMqL34-unsplash\ \(1\).jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Barlow", sans-serif;
}

.main-col-color {
  background: #080808;
}
.blue-bg {
  background: #6600ff;
}
.blue-font {
  color: #6600ff;
}
.font-red-detail {
  color: #db1d46;
}
.bg-red-detail {
  background: #db1d46;
}
.neon-effect {
  color: #c6e2ff;
}
.text-hover-effect {
  transition: all 0.3s ease-in;
  cursor: pointer;
  color: white;
}
.neon-effect:hover,
.text-hover-effect:hover {
  color: #db1d46;
}
.neon-effect2 {
  color: #efc6ff;
  text-shadow: 0 0 6px rgba(221, 202, 228, 0.92),
    0 0 30px rgba(222, 202, 228, 0.34), 0 0 12px rgba(224, 30, 242, 0.52),
    0 0 21px rgba(200, 30, 242, 0.92), 0 0 34px rgba(242, 30, 242, 0.78),
    0 0 54px rgba(235, 30, 242, 0.92);
  transition: all 0.3s ease-in;
}
.neon-effect3 {
  color: #f0f5e2;
  text-shadow: 0 0 6px rgba(252, 251, 171, 0.92),
    0 0 30px rgba(251, 239, 67, 0.34), 0 0 12px rgba(252, 148, 4, 0.52),
    0 0 21px rgba(251, 126, 5, 0.92), 0 0 34px rgba(224, 89, 9, 0.78),
    0 0 54px rgba(182, 63, 13, 0.92);
}
.neon-effect4 {
  color: #f5e2e2;
  text-shadow: 0 0 6px rgba(249, 166, 111, 0.92),
    0 0 30px rgba(251, 109, 67, 0.34), 0 0 12px rgba(252, 78, 62, 0.52),
    0 0 21px rgba(251, 51, 50, 0.92), 0 0 34px rgba(204, 37, 39, 0.78),
    0 0 54px rgba(221, 34, 34, 0.92);
}
.grey-font {
  color: #929eacf3;
}
.lblue-font {
  color: #c6e2ff;
}
.score-font {
  font-family: "scoreFont", sans-serif;
}
.ind-game {
  transition: all 0.5s ease-in;
}
.ind-game:hover {
  background: rgba(222, 202, 228, 0.34);
  opacity: 0.8;
}
.hidden {
  display: block;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s linear;
  position: absolute;
}
.main-div {
  width: 95%;
}
.show {
  width: 1%;
  position: absolute;
}
.show-comp {
  left: 0;
}
.show-teams {
  right: 0;
}
.show,
.show-left,
.show-right {
  opacity: 1;
  overflow: visible;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.show-left {
  left: 0 !important;
  top: 5px !important;
  position: fixed;
  width: 95%;
  z-index: 5;
}
.show-right {
  right: 0 !important;
  top: 5px !important;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  width: 95%;
  z-index: 5;
}

.display-trigger {
  display: none;
}

.inner-div {
  position: fixed;
  top: 40vh;
  transform: translateY(-50%);
  background: #6600ff;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s linear;
}
.show-teams .inner-div {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.show-comp .inner-div {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.inner-div:hover {
  color: #6600ff;
  border: 5px solid #6600ff;
  background: white;
}
.inner-div p {
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline;
  transform: rotate(180deg);
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.2;
}
.trophy {
  font-size: 24px;
}
.competition-close-toggler,
.team-close-toggler {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #6600ff;
  position: absolute;
  cursor: pointer;
}
.competition-close-toggler {
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}
.team-close-toggler {
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  z-index: 5;
}
.inputTeam {
  padding: 10px;
  width: 250px;
  background: #080808;
  border: 1px solid #6600ff;
  color: white;
}
.searchButton {
  background: #6600ff;
  position: relative;
  left: -5%;
}
.teamSelectorWrapper {
  position: absolute;
  left: 0;
  top: 50px;
  width: 250px;
}
.teamSelect {
  background: #080808;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  border: 1px solid #6600ff;
}
.clearButton {
  position: absolute;
  left: 200px;
  height: 100%;
  width: 35px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.reminder-modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  background: #080808;
  color: #6600ff;
  padding: 2rem 1rem;
  border: 2px solid #6600ff;
  max-width: 400px;
}
.reminder-modal h4 {
  margin-top: 5vh;
}
.reminder-modal p {
  color: white;
}
.close-modal {
  position: absolute;
  top: 2vh;
  right: 3vw;
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-div {
    width: 60%;
  }
  .hidden {
    width: 35% !important;
  }
  .show {
    width: 15%;
    position: relative;
  }
  .inner-div {
    height: 23vh;
    max-height: 200px;
    max-width: 120px;
    border: 5px solid white;
    position: absolute;
    top: 20vh;
    padding: 1vw;
  }
  .inner-div p {
    line-height: normal;
  }
  .show-left {
    position: relative;
    top: 0;
    z-index: 0;
  }
  .show-right {
    position: relative;
    top: 0;
    z-index: 0;
    overflow-y: auto;
  }
  .trophy {
    font-size: 5vw;
  }
  .show-teams .inner-div,
  .show-comp .inner-div {
    border-radius: 0;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .hidden {
    width: 25% !important;
  }
  .main-div {
    width: 50%;
  }
}
